# Notion
NOTION_API_KEY=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
NOTION_DATABASE_ID=02891ee4d0764ee3ae597c06760f2bd2

# NextAuth
NEXTAUTH_URL=https://your-vercel-app.vercel.app
NEXTAUTH_SECRET=P0rnph0m00@

# Google OAuth
GOOGLE_CLIENT_ID=294908549362-bgtug8u41pcepnfomdr62akfop7o5sgi.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=294908549362-bgtug8u41pcepnfomdr62akfop7o5sgi.apps.googleusercontent.com

# OMDB
OMDB_API_KEY=http://www.omdbapi.com/?i=tt3896198&apikey=3399f3ef

# Restrict login to your email only (comma separated)
ALLOWED_EMAILS=prnnch.chio0123@gmail.com
